name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"
    - name: Check version
      run: |
        grep "version" pyproject.toml
    - name: Clean dist
      run: rm -rf dist
    - name: Build package
      run: uv build
    - name: Publish to PyPI
      run: uv publish --token ${{ secrets.PYPI_API_TOKEN }}
      continue-on-error: false
